fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
cryptography
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib
bcrypt<4.0.0
python-multipart
python-socketio
langchain
langchain-groq
langgraph
langchain-core
groq
httpx
aiohttp
python-dotenv
